#chats{
  text-align: right;
  font-size: 14px;
}

.fukidasi {
  width: 100%;
  overflow: hidden;
  float: left;
}

.chatting {
  margin: 0 0 20px 30px;
  text-align: left;
}

.says {
  display: inline-block;
  position: relative;
  max-width: 250px;
  border-radius: 30px;
  background: #edf1ee;
}

.says p {
  display: inline-block;
  position: relative;
  color: #333;
  padding: 8px 25px;
  max-width: 250px;
  border-radius: 30px;
  font-size: 25px;
}

.says p:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 3px;
  left: -19px;
  border: 8px solid transparent;
  border-right: 18px solid #edf1ee;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
}

.mycomment {
  margin: 0 30px 20px 0;
}

.mycomment p {
  display: inline-block;
  position: relative;
  color: #fff;
  margin: 0 10px 0 0;
  padding: 8px 25px;
  max-width: 250px;
  border-radius: 30px;
  background: #e65b20;
  font-size: 25px;
}

.mycomment p:after {
  content: "";
  position: absolute;
  top: 3px;
  right: -19px;
  border: 8px solid transparent;
  border-left: 18px solid #e65b20;
  -webkit-transform: rotate(-35deg);
  transform: rotate(-35deg);
}










.chat-form {
  margin: 0 auto;
  background-color: #d1cbc3;
  padding: 20px 40px;
  display: flex;
}

.form-input {
  background-color: white;
  width: 100%;
  display: flex;
}

.form-message {
  border: none;
  height: 50px;
  width: 100%;
  padding-left: 10px;
}

.chat-form-submit {
  background-color:#3e1300;
  border: none;
  color: white;
  font-size: 16px;
  height: 50px;
  margin-left: 15px;
  padding: 0 20px;
}

.fa-image {
  margin-right: 20px;
  color: lightgray;
}

.hidden {
  display: none;
}
