<%= render "shared/header" %>

<div class="main">
  <div class="center-info">
    <%= render partial: "animal", collection: @animals %>
  </div>
  <div class="right-info">
    <%= render partial: "right_info" %>
  </div>
</div>