<%= render "shared/header" %>

<div class="main">
  <div class="left-info">
    <%= render partial: "side_bar" %>
  </div>
  <div class="center-info">
    <%= render partial: "animal", collection: @animals %>
  </div>
</div>