<div class="animal-details">
  <div class="detail-images">
    <div class="slider">
      <% @animal.images.each do |image| %>
        <%= image_tag image, class:'animal-images' %>
      <% end %>
    </div>
  </div>
  <div class="detail-info">
  </div>
</div>