<div class="animal-details">
  <div class="detail-images">
    <% @animal.images.each do |image| %>
      <%= image_tag image, class:'animal-images' %>
    <% end %>
  </div>
  <div class="detail-info">
  </div>
</div>