.animal-content {
  margin-bottom: 20px;
  border: solid 1px black;
}

.animal-content a {
  text-decoration: none;
  color: black;
}

.animal-image {
  width: 260px;
  height: 230px;
  background-color: #eeeeee;
  position: relative;
}

.animal-img {
  width: 240px;
  height: 210px;
  position: absolute;
  margin: auto;
  top: 10px;
  left: 10px;
}

.animal-info {
  width: 100%;
  padding: 0 10px;
}
