.animal-content {
  margin-bottom: 60px;
}

.animal-content:hover {
  transform:translateY(-5px);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.4), 0 0 50px rgba(128, 128, 128, 0.1);
  border-color: transparent;
  transition: all .3s;
}

.animal-list {
  text-decoration: none;
  color: black;
}

.animal-image {
  height: 180px;
}

.animal-img {
  width: 250px;
  height: 180px;
  margin: auto;
}

.animal-info {
  width: 250px;
  height: 80px;
  padding: 10px 20px;
  background-color: #fff;
  font-size: 14px;
}

.side_by_side {
  display: flex;
  width: 100%;
}

.animal-sex-name {
  width: 180px;
}

.fa-mars {
  color: #15aabf;
}

.fa-venus {
  color: #f783ac;
}