label[for="menu_bar01"] {
  display: block;
  margin: 0 0 4px 0;
  padding : 15px;
  line-height: 1;
  /* color :#fff;
  background : green; */
  cursor :pointer;
}

input[id="menu_bar01"] {
  display: none;
}

.right-info ul {
  margin: 0;
  padding: 0;
  background :#f4f4f4;
  list-style: none;
}

.right-info li {
  height: 0;
  overflow: hidden;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

#menu_bar01:checked ~ #links01 li {
  height: 54px;
  opacity: 1;
}
