.main {
  display: flex;
  background-color: #f0f3f8;
  overflow: scroll;
}

.center-info {
  margin: 200px 50px 0 50px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  z-index: 1;
}

.right-info {
  width: 800px;
  background-color: #848f96;
}