.main {
  display: flex;
  background-color: #f0f3f8;
  overflow: scroll;
  height: auto;
}

.left-info {
  width: 300px;
  padding: 40px 20px;
  background-color: #fff;
}

.left-info a {
  text-decoration: none;
  color: #000;
}

.center-info {
  width: calc(100vw - 300px);
  /* margin: 200px 50px 0 50px; */
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  z-index: 1;
}
