.new-title {
  font-size: 25px;
  margin: 50px 0;
  text-align: center;
}

.image-form {
  display: flex;
}

.must-image {
  margin-bottom: 20px;
}

.must {
  padding: 8px 20px;
  border-radius: 6px;
  margin-right: 8px;
  background-color: #f38e70;
  color: #fff;
  font-size: 14px;
}

.form-text-image {
  padding: 14px 16px;
  margin-left: 360px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
}

.file-field {
  width: 255px;
  height: 170px;
  display: block;
  overflow: scroll;
}

input[name="new_animal[images][]"] {
  margin-top: 15px;
}

img {
  width: 150px;
  height: 200px;
  margin: 8px;
}

#image-list {
  height: 220px;
  width: 415px;
  flex-wrap: wrap;
  overflow: scroll;
  background-color: #eeeeee;
  display: flex;
  border: dotted lightgray;
  flex-direction: row;
  justify-content: space-evenly;
} 

.form-text-post {
  padding: 14px 16px;
  flex-wrap: wrap;
  margin: 40px 360px;
  display: flex;
  justify-content: space-between;
}

input[name="new_animal[name]"],
input[name="new_animal[age]"],
input[name="new_animal[kind_name][]"],
input[name="new_animal[name]"]
{
  background-color: #eeeeee;
  height: 40px;
  width: 200px;
  border-radius: 6px;
  border: none;
}

.form-text-tag-post {
  height: 180px;
  padding: 14px 16px;
  flex-wrap: wrap;
  margin: 40px 360px;
  display: flex;
  justify-content: space-between;
}

.tag-field {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.child{
  border-bottom:#666 1px solid;
  margin: 10px 0;
  padding-left: 11px;
}

textarea[name="new_animal[personality]"] {
  background-color: #eeeeee;
  height: 150px;
  width: 350px;
  border-radius: 6px;
  border: none;
}

input[type="radio"] {
  width: 20px;
  height: 20px;
  margin-left: 20px;
  top: 4px;
  position: relative;
}

select[name="new_animal[birth_date(1i)]"],
select[name="new_animal[birth_date(2i)]"],
select[name="new_animal[birth_date(3i)]"]
 {
  width: 100px;
  height: 30px;
  border-radius: 6px;
  background-color: #eeeeee;
  border: none;
}

input[class="post-actions"] {
  background-color: #f38e70;
  height: 40px;
  width: 125px;
  border-radius: 6px;
  color: #fff;
  border: none;
}

.visit_root_path {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}