.new-title {
  font-size: 25px;
  margin: 50px 0;
  text-align: center;
}


.must-image {
  margin-bottom: 20px;
}

.must {
  padding: 0 20px;
  border-radius: 6px;
  margin-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #f38e70;
  color: #fff;
  font-size: 14px;
}

.form-text-image {
  padding: 14px 16px;
  margin: 0 210px 0 360px;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}

input[name="new_animal[images][]"] {
  color: #fff;
}

img {
  width: 150px;
  height: 200px;
  margin: 8px;
}

#image-list {
  height: 220px;
  margin: 0 380px;
  flex-wrap: wrap;
  overflow: scroll;
  background-color: #eeeeee;
  display: flex;
  border: dotted lightgray;
} 

.image-element {
  float: left;
}

.form-text-post {
  padding: 14px 16px;
  flex-wrap: wrap;
  margin: 40px 360px;
  display: flex;
  justify-content: space-between;
}

input[name="new_animal[name]"],
input[name="new_animal[kind_name]"],
input[name="new_animal[age]"],
input[name="new_animal[name]"]
{
  background-color: #eeeeee;
  height: 40px;
  width: 200px;
  border-radius: 6px;
  border: none;
}

textarea[name="new_animal[personality]"] {
  background-color: #eeeeee;
  height: 150px;
  width: 350px;
  border-radius: 6px;
  border: none;
}

input[type="radio"] {
  width: 20px;
  height: 20px;
  margin-left: 20px;
  top: 4px;
  position: relative;
}

select[name="new_animal[birth_date(1i)]"],
select[name="new_animal[birth_date(2i)]"],
select[name="new_animal[birth_date(3i)]"]
 {
  width: 100px;
  height: 30px;
  border-radius: 6px;
  background-color: #eeeeee;
  border: none;
}

input[class="post-actions"] {
  background-color: #f38e70;
  height: 40px;
  width: 125px;
  border-radius: 6px;
  color: #fff;
  border: none;
}

.visit_root_path {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}