.slider {
  width:80%;
  margin: 0 auto;
}

.slider img {
  width:40vw;
  height:50vh;
}

.slider .slick-slide {
  transform: scale(0.8);/*左右の画像のサイズを80%に*/
  transition: all .5s;/*拡大や透過のアニメーションを0.5秒で行う*/
  opacity: 0.5;/*透過50%*/
}

.slider .slick-slide.slick-center{
  transform: scale(1);/*中央の画像のサイズだけ等倍に*/
  opacity: 1;/*透過なし*/
}

/*矢印の設定*/

/*戻る、次へ矢印の位置*/

.fa-chevron-left {
  font-size: 20px;
  position: absolute;
  cursor: pointer;/*マウスカーソルを指マークに*/
  color: #808080;
  left: -30px;
  top: 42%;
}

.fa-chevron-right {
  font-size: 20px;
  position: absolute;
  cursor: pointer;/*マウスカーソルを指マークに*/
  color: #808080;
  right: -30px;
  top: 42%;
}

/*ドットナビゲーションの設定*/

.slick-dots {
  text-align:center;
  margin:20px 0 0 0;
}

.slick-dots li {
  display:inline-block;
  margin:0 5px;
}

.slick-dots button {
  color: transparent;
  outline: none;
  width:8px;/*ドットボタンのサイズ*/
  height:8px;/*ドットボタンのサイズ*/
  display:block;
  border-radius:50%;
  background:#ccc;/*ドットボタンの色*/
}

.slick-dots .slick-active button{
  background:#333;/*ドットボタンの現在地表示の色*/
}

/*info以下の記述*/

.animal-details {
  background-color: #f0f3f8;
  z-index: 1;
  display: flex;
}

.left-bar {
  width: calc(100vw - 350px);
}

.detail-animal-name {
  height: 120px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.animal-images {
  height: 300px;
  width: 300px;
}

.form-link {
  height: 150px;
  display: flex;
  justify-content: space-around;
  padding: 60px 200px;
}

.fa-comment,
.fa-home
 {
  margin-right: 15px;
}

.chat-link a {
  display: block;
  width: 280px;
  height: 70px;
  color: #333;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4d650;
  border-radius: 35px;
  transition: all .3s;
}

.chat-link a:hover {
	background-color: #fff;
	border: 5px solid #f4d650;
  color: #333;
}

.visit-link a {
  display: block;
  width: 280px;
  height: 70px;
  color: #333;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e47863;
  border-radius: 35px;
  transition: all .3s;
}

.visit-link a:hover {
	background-color: #fff;
	border: 5px solid #e47863;
  color: #333;
}

.detail-head {
  height: 60px;
  font-size: 25px;
}

.right-bar {
  width: 350px;
  height: auto;
  background-color: #fff;
  padding: 30px 25px;
}

.detail-info {
  display: flex;
  margin: 20px 0;
}

.detail-name,
.detail-age,
.detail-birth-date,
.detail-personality,
.detail-size,
.detail-sex,
.detail-prefecture,
.detail-kind-name,
.detail-group-name {
  width: 190px;
}

.detail-info h4 {
  width: 110px;
}

.detail-kind-name {
  white-space: nowrap;
}