.header_bar_back {
  height: 50px;
  width: 100%;
  background-color: black;
  position: relative;
  position: fixed;
}

.header_bar_front {
  background-color: #fff;
  height: 60px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  z-index:500;
}

.header-left {
  background-color: #de8042;
  width: 180px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-left a {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

.header-right {
  width: 500px;
  display: flex;
  justify-content: space-around;

}

.login_now a ,
.logout_now a {
  margin: 0 20px;
  color: black;
  text-decoration: none;
}
